{% extends "baseAdmin.html" %}
{% load static %}

{% block content %}

{% for p in estudiantes_list %}
<table class="table" id="datos" style="display: none">
    
    
    <tr>
        
        
        <td id="ingles">{{p.ingles_saber11}}</td>
        <td id="lecto">{{p.lecturacritica_saber11}}</td>
        <td id="razo">{{p.razonamiento_saber11}}</td>
        <td id="comp">{{p.competencias_saber11}}</td>
        
    </tr>
    <tr>
        
        
        <td id="ingles">{{p.ingles_simulacro1}}</td>
        <td id="lectot">{{p.lecturacritica_simulacro1}}</td>
        <td id="razot">{{p.razonamiento_simulacro1}}</td>
        <td id="compt">{{p.competencias_simulacro1}}</td>
        <td id="escritot">{{p.escrito_simulacro1}}</td>
        <td id="form">{{p.formulacion_simulacro1}}</td>
        <td id="pen">{{p.cientifico_simulacro1}}</td>
        <td id="dis">{{p.diseño_simulacro1}}</td>
        
    </tr>
    <tr>
        
        
        <td id="inglesq">{{p.ingles_simulacro2}}</td>
        <td id="lectoq">{{p.lecturacritica_simulacro2}}</td>
        <td id="razoq">{{p.razonamiento_simulacro2}}</td>
        <td id="compq">{{p.competencias_simulacro2}}</td>
        <td id="escritoq">{{p.escrito_simulacro2}}</td>
        <td id="form">{{p.formulacion_simulacro2}}</td>
        <td id="pen">{{p.cientifico_simulacro2}}</td>
        <td id="dis">{{p.diseño_simulacro2}}</td>
        
    </tr>
    <tr>
        
        
        <td id="inglese">{{p.ingles_simulacro3}}</td>
        <td id="lectoe">{{p.lecturacritica_simulacro3}}</td>
        <td id="razoe">{{p.razonamiento_simulacro3}}</td>
        <td id="compe">{{p.competencias_simulacro3}}</td>
        <td id="escritoe">{{p.escrito_simulacro3}}</td>
        <td id="form">{{p.formulacion_simulacro3}}</td>
        <td id="pen">{{p.cientifico_simulacro3}}</td>
        <td id="dis">{{p.diseño_simulacro3}}</td>
        
    </tr>
    <tr>
        
        
        <td id="inglesp">{{p.ingles_saberPro}}</td>
        <td id="lectop">{{p.lecturacritica_saberPro}}</td>
        <td id="razop">{{p.razonamiento_saberPro}}</td>
        <td id="compp">{{p.competencias_saberPro}}</td>
        <td id="escritop">{{p.escrito_saberPro}}</td>
        <td id="form">{{p.formulacion_saberPro}}</td>
        <td id="pen">{{p.cientifico_saberPro}}</td>
        <td id="dis">{{p.diseño_saberPro}}</td>
        
    </tr>
    
    
</table>
{% endfor%}

<div class="card shadow mb-4">
    <div class="card-header py-3">
        {% for p in año  %}
        <h6 class="m-0 font-weight-bold text-primary">Grafica de resultados agrupados para el grupo de referencia del año: <strong>{{ p.año }}</strong></h6>
        {% endfor %}
        
    </div>
    {% if grupo %}
    <div class="card-body">
        <div class="chart-area">
            <canvas id="myBarChart"></canvas>
        </div>
        <hr>
        Resultados agrupados
    </div>
    {% endif %}
    
</div>

{% for p in grupo  %}

<div class="card text-center">
    <div class="card-header">
        <strong>{{ p.nombres }} {{ p.apellidos }}</strong>
    </div>
    <div class="card-body">
        <div class="card shadow mb-4">
            <!-- Card Header - Accordion -->
            <a href="#saber11" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample">
                <h6 class="m-0 font-weight-bold text-primary">Prueba Saber 11</h6>
            </a>
            <!-- Card Content - Collapse -->
            <div class="collapse" id="saber11">
                <div class="card-body">
                    <div class="form-group row" >
                        <div class="col-sm-6">
                            <h6>Fecha de presentacion</h6>
                            {{ p.fecha_saber11}}
                        </div>
                        <div class="col-sm-6">
                            <h6>Ingles</h6>
                            {{ p.ingles_saber11}}
                        </div>
                        <div class="col-sm-6">
                            <h6>Lectura Critica</h6>
                            {{ p.lecturacritica_saber11}}
                        </div>
                        <div class="col-sm-6">
                            <h6>Razonamiento cuantitativo</h6>
                            {{ p.razonamiento_saber11}}
                        </div>
                        <div class="col-sm-6">
                            <h6>Competencias ciudadanas</h6>
                            {{ p.competencias_saber11}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="card shadow mb-4">
            <!-- Card Header - Accordion -->
            <a href="#p1" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample">
                <h6 class="m-0 font-weight-bold text-primary">Primer simulacro</h6>
            </a>
            <!-- Card Content - Collapse -->
            <div class="collapse" id="p1">
                <div class="card-body">
                    <div class="form-group row" >
                        <div class="col-sm-6">
                            <h6>Fecha de presentacion</h6>
                            {{ p.fecha_simulacro1}}
                        </div>
                        <div class="col-sm-6">
                            <h6>Ingles</h6>
                            {{ p.ingles_simulacro1}}
                        </div>
                        <div class="col-sm-6">
                            <h6>Lectura Critica</h6>
                            {{ p.lecturacritica_simulacro1}}
                        </div>
                        <div class="col-sm-6">
                            <h6>Razonamiento cuantitativo</h6>
                            {{ p.razonamiento_simulacro1}}
                        </div>
                        <div class="col-sm-6">
                            <h6>Comnpetencias ciudadanas</h6>
                            {{ p.competencias_simulacro1}}
                        </div>
                        <div class="col-sm-6">
                            <h6>Comunicacion escrita</h6>
                            {{ p.escrito_simulacro1}}
                        </div>
                        <div class="col-sm-6">
                            <h6>Formulacion de proyectos</h6>
                            {{ p.formulacion_simulacro1}}
                        </div>
                        <div class="col-sm-6">
                            <h6>Pensamiento cientifico</h6>
                            {{ p.cientifico_simulacro1}}
                        </div>
                        <div class="col-sm-6">
                            <h6>Diseño de software</h6>
                            {{ p.diseño_simulacro1}}
                        </div>
                        
                        
                    </div>
                </div>
            </div>
        </div>
        
        <div class="card shadow mb-4">
            <!-- Card Header - Accordion -->
            <a href="#p2" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample">
                <h6 class="m-0 font-weight-bold text-primary">Segundo simulacro</h6>
            </a>
            <!-- Card Content - Collapse -->
            <div class="collapse" id="p2">
                <div class="card-body">
                    <div class="form-group row" >
                        <div class="col-sm-6">
                            <h6>Fecha de presentacion</h6>
                            {{ p.fecha_simulacro2}}
                        </div>
                        <div class="col-sm-6">
                            <h6>Ingles</h6>
                            {{ p.ingles_simulacro2}}
                        </div>
                        <div class="col-sm-6">
                            <h6>Lectura Critica</h6>
                            {{ p.lecturacritica_simulacro2}}
                        </div>
                        <div class="col-sm-6">
                            <h6>Razonamiento cuantitativo</h6>
                            {{ p.razonamiento_simulacro2}}
                        </div>
                        <div class="col-sm-6">
                            <h6>Comnpetencias ciudadanas</h6>
                            {{ p.competencias_simulacro2}}
                        </div>
                        <div class="col-sm-6">
                            <h6>Comunicacion escrita</h6>
                            {{ p.escrito_simulacro2}}
                        </div>
                        <div class="col-sm-6">
                            <h6>Formulacion de proyectos</h6>
                            {{ p.formulacion_simulacro2}}
                        </div>
                        <div class="col-sm-6">
                            <h6>Pensamiento cientifico</h6>
                            {{ p.cientifico_simulacro2}}
                        </div>
                        <div class="col-sm-6">
                            <h6>Diseño de software</h6>
                            {{ p.diseño_simulacro2}}
                        </div>
                        
                        
                    </div>
                </div>
            </div>
        </div>
        
        <div class="card shadow mb-4">
            <!-- Card Header - Accordion -->
            <a href="#p3" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample">
                <h6 class="m-0 font-weight-bold text-primary">Tercer simulacro</h6>
            </a>
            <!-- Card Content - Collapse -->
            <div class="collapse" id="p3">
                <div class="card-body">
                    <div class="form-group " >
                        <div class="col-sm-6">
                            <h6>Fecha de presentacion</h6>
                            {{ p.fecha_simulacro3}}
                        </div>
                        <div class="col-sm-6">
                            <h6>Ingles</h6>
                            {{ p.ingles_simulacro3}}
                        </div>
                        <div class="col-sm-6">
                            <h6>Lectura Critica</h6>
                            {{ p.lecturacritica_simulacro3}}
                        </div>
                        <div class="col-sm-6">
                            <h6>Razonamiento cuantitativo</h6>
                            {{ p.razonamiento_simulacro3}}
                        </div>
                        <div class="col-sm-6">
                            <h6>Comnpetencias ciudadanas</h6>
                            {{ p.competencias_simulacro3}}
                        </div>
                        <div class="col-sm-6">
                            <h6>Comunicacion escrita</h6>
                            {{ p.escrito_simulacro3}}
                        </div>
                        <div class="col-sm-6">
                            <h6>Formulacion de proyectos</h6>
                            {{ p.formulacion_simulacro3}}
                        </div>
                        <div class="col-sm-6">
                            <h6>Pensamiento cientifico</h6>
                            {{ p.cientifico_simulacro3}}
                        </div>
                        <div class="col-sm-6">
                            <h6>Diseño de software</h6>
                            {{ p.diseño_simulacro3}}
                        </div>
                    </div>
                </div>
            </div>
            
            
            
        </div>
        
        <div class="card shadow mb-4">
            <!-- Card Header - Accordion -->
            <a href="#sp" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample">
                <h6 class="m-0 font-weight-bold text-primary">Saber Pro</h6>
            </a>
            <!-- Card Content - Collapse -->
            <div class="collapse" id="sp">
                <div class="card-body">
                    <div class="form-group row" >
                        <div class="col-sm-6">
                            <h6>Fecha de presentacion</h6>
                            {{ p.fecha_saberPro}}
                        </div>
                        <div class="col-sm-6">
                            <h6>Ingles</h6>
                            {{ p.ingles_saberPro}}
                        </div>
                        <div class="col-sm-6">
                            <h6>Lectura Critica</h6>
                            {{ p.lecturacritica_saberPro}}
                        </div>
                        <div class="col-sm-6">
                            <h6>Razonamiento cuantitativo</h6>
                            {{ p.razonamiento_saberPro}}
                        </div>
                        <div class="col-sm-6">
                            <h6>Comnpetencias ciudadanas</h6>
                            {{ p.competencias_saberPro}}
                        </div>
                        <div class="col-sm-6">
                            <h6>Comunicacion escrita</h6>
                            {{ p.escrito_saberPro}}
                        </div>
                        <div class="col-sm-6">
                            <h6>Formulacion de proyectos</h6>
                            {{ p.formulacion_saberPro}}
                        </div>
                        <div class="col-sm-6">
                            <h6>Pensamiento cientifico</h6>
                            {{ p.cientifico_saberPro}}
                        </div>
                        <div class="col-sm-6">
                            <h6>Diseño de software</h6>
                            {{ p.diseño_saberPro}}
                        </div>
                        
                        
                    </div>
                </div>
            </div>
        </div>
        <a href="{% url 'lista_estudiantes' %}" class="btn btn-primary">Ver resultados individuales</a>
    </div>
    
</div>

{% endfor %}



{% endblock content %}