{% extends "baseAdmin.html" %}
{% load static %}

{% block content %}
<form method="post" >{% csrf_token %}
    
    {% if form.errors %}
    
    <div class="col-xl-12 col-md-12 mb-2">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Existen errores en el formulario</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">{{form.errors}}</div>
                    </div>
                    
                    
                </div>
            </div>
        </div>
    </div>
    {% endif%}
    
    <!-- Collapsable Card Example -->
    <div class="card shadow mb-4">
        <!-- Card Header - Accordion -->
        <a href="#personal" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample">
            <h6 class="m-0 font-weight-bold text-primary">Informacion Personal</h6>
        </a>
        <!-- Card Content - Collapse -->
        <div class="collapse" id="personal">
            <div class="card-body">
                <div class="form-group row" >
                    <div class="col-sm-12">
                        <h6>Identificacion</h6>
                        {{ form.identificacion}}
                    </div>
                    <div class="col-sm-12">
                        <h6>Nombres</h6>
                        {{ form.nombres}}
                    </div>
                    <div class="col-sm-12">
                        <h6>Apellidos</h6>
                        {{ form.apellidos}}
                    </div>
                    <div class="col-sm-12">
                        <h6>Grupo de referencia</h6>
                        {{ form.grupo}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <!-- Collapsable Card Example -->
    <div class="card shadow mb-4">
        <!-- Card Header - Accordion -->
        <a href="#saber11" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample">
            <h6 class="m-0 font-weight-bold text-primary">Prueba Saber 11</h6>
        </a>
        <!-- Card Content - Collapse -->
        <div class="collapse" id="saber11">
            <div class="card-body">
                <div class="form-group row" >
                    <div class="col-sm-6">
                        <h6>Fecha de presentacion</h6>
                        {{ form.fecha_saber11}}
                    </div>
                    <div class="col-sm-6">
                        <h6>Ingles</h6>
                        {{ form.ingles_saber11}}
                    </div>
                    <div class="col-sm-6">
                        <h6>Lectura Critica</h6>
                        {{ form.lecturacritica_saber11}}
                    </div>
                    <div class="col-sm-6">
                        <h6>Razonamiento cuantitativo</h6>
                        {{ form.razonamiento_saber11}}
                    </div>
                    <div class="col-sm-6">
                        <h6>Competencias ciudadanas</h6>
                        {{ form.competencias_saber11}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="card shadow mb-4">
        <!-- Card Header - Accordion -->
        <a href="#p1" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample">
            <h6 class="m-0 font-weight-bold text-primary">Primer simulacro</h6>
        </a>
        <!-- Card Content - Collapse -->
        <div class="collapse" id="p1">
            <div class="card-body">
                <div class="form-group row" >
                    <div class="col-sm-6">
                        <h6>Fecha de presentacion</h6>
                        {{ form.fecha_simulacro1}}
                    </div>
                    <div class="col-sm-6">
                        <h6>Ingles</h6>
                        {{ form.ingles_simulacro1}}
                    </div>
                    <div class="col-sm-6">
                        <h6>Lectura Critica</h6>
                        {{ form.lecturacritica_simulacro1}}
                    </div>
                    <div class="col-sm-6">
                        <h6>Razonamiento cuantitativo</h6>
                        {{ form.razonamiento_simulacro1}}
                    </div>
                    <div class="col-sm-6">
                        <h6>Comnpetencias ciudadanas</h6>
                        {{ form.competencias_simulacro1}}
                    </div>
                    <div class="col-sm-6">
                        <h6>Comunicacion escrita</h6>
                        {{ form.escrito_simulacro1}}
                    </div>
                    <div class="col-sm-6">
                        <h6>Formulacion de proyectos</h6>
                        {{ form.formulacion_simulacro1}}
                    </div>
                    <div class="col-sm-6">
                        <h6>Pensamiento cientifico</h6>
                        {{ form.cientifico_simulacro1}}
                    </div>
                    <div class="col-sm-6">
                        <h6>Diseño de software</h6>
                        {{ form.diseño_simulacro1}}
                    </div>
                    
                    
                </div>
            </div>
        </div>
    </div>
    
    <div class="card shadow mb-4">
        <!-- Card Header - Accordion -->
        <a href="#p2" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample">
            <h6 class="m-0 font-weight-bold text-primary">Segundo simulacro</h6>
        </a>
        <!-- Card Content - Collapse -->
        <div class="collapse" id="p2">
            <div class="card-body">
                <div class="form-group row" >
                    <div class="col-sm-6">
                        <h6>Fecha de presentacion</h6>
                        {{ form.fecha_simulacro2}}
                    </div>
                    <div class="col-sm-6">
                        <h6>Ingles</h6>
                        {{ form.ingles_simulacro2}}
                    </div>
                    <div class="col-sm-6">
                        <h6>Lectura Critica</h6>
                        {{ form.lecturacritica_simulacro2}}
                    </div>
                    <div class="col-sm-6">
                        <h6>Razonamiento cuantitativo</h6>
                        {{ form.razonamiento_simulacro2}}
                    </div>
                    <div class="col-sm-6">
                        <h6>Comnpetencias ciudadanas</h6>
                        {{ form.competencias_simulacro2}}
                    </div>
                    <div class="col-sm-6">
                        <h6>Comunicacion escrita</h6>
                        {{ form.escrito_simulacro2}}
                    </div>
                    <div class="col-sm-6">
                        <h6>Formulacion de proyectos</h6>
                        {{ form.formulacion_simulacro2}}
                    </div>
                    <div class="col-sm-6">
                        <h6>Pensamiento cientifico</h6>
                        {{ form.cientifico_simulacro2}}
                    </div>
                    <div class="col-sm-6">
                        <h6>Diseño de software</h6>
                        {{ form.diseño_simulacro2}}
                    </div>
                    
                    
                </div>
            </div>
        </div>
    </div>
    
    <div class="card shadow mb-4">
        <!-- Card Header - Accordion -->
        <a href="#p3" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample">
            <h6 class="m-0 font-weight-bold text-primary">Tercer simulacro</h6>
        </a>
        <!-- Card Content - Collapse -->
        <div class="collapse" id="p3">
            <div class="card-body">
                <div class="form-group row" >
                    <div class="col-sm-6">
                        <h6>Fecha de presentacion</h6>
                        {{ form.fecha_simulacro3}}
                    </div>
                    <div class="col-sm-6">
                        <h6>Ingles</h6>
                        {{ form.ingles_simulacro3}}
                    </div>
                    <div class="col-sm-6">
                        <h6>Lectura Critica</h6>
                        {{ form.lecturacritica_simulacro3}}
                    </div>
                    <div class="col-sm-6">
                        <h6>Razonamiento cuantitativo</h6>
                        {{ form.razonamiento_simulacro3}}
                    </div>
                    <div class="col-sm-6">
                        <h6>Comnpetencias ciudadanas</h6>
                        {{ form.competencias_simulacro3}}
                    </div>
                    <div class="col-sm-6">
                        <h6>Comunicacion escrita</h6>
                        {{ form.escrito_simulacro3}}
                    </div>
                    <div class="col-sm-6">
                        <h6>Formulacion de proyectos</h6>
                        {{ form.formulacion_simulacro3}}
                    </div>
                    <div class="col-sm-6">
                        <h6>Pensamiento cientifico</h6>
                        {{ form.cientifico_simulacro3}}
                    </div>
                    <div class="col-sm-6">
                        <h6>Diseño de software</h6>
                        {{ form.diseño_simulacro3}}
                    </div>
                </div>
            </div>
        </div>
        
        
        
    </div>
    
    <div class="card shadow mb-4">
        <!-- Card Header - Accordion -->
        <a href="#sp" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample">
            <h6 class="m-0 font-weight-bold text-primary">Saber Pro</h6>
        </a>
        <!-- Card Content - Collapse -->
        <div class="collapse" id="sp">
            <div class="card-body">
                <div class="form-group row" >
                    <div class="col-sm-6">
                        <h6>Fecha de presentacion</h6>
                        {{ form.fecha_saberPro}}
                    </div>
                    <div class="col-sm-6">
                        <h6>Ingles</h6>
                        {{ form.ingles_saberPro}}
                    </div>
                    <div class="col-sm-6">
                        <h6>Lectura Critica</h6>
                        {{ form.lecturacritica_saberPro}}
                    </div>
                    <div class="col-sm-6">
                        <h6>Razonamiento cuantitativo</h6>
                        {{ form.razonamiento_saberPro}}
                    </div>
                    <div class="col-sm-6">
                        <h6>Comnpetencias ciudadanas</h6>
                        {{ form.competencias_saberPro}}
                    </div>
                    <div class="col-sm-6">
                        <h6>Comunicacion escrita</h6>
                        {{ form.escrito_saberPro}}
                    </div>
                    <div class="col-sm-6">
                        <h6>Formulacion de proyectos</h6>
                        {{ form.formulacion_saberPro}}
                    </div>
                    <div class="col-sm-6">
                        <h6>Pensamiento cientifico</h6>
                        {{ form.cientifico_saberPro}}
                    </div>
                    <div class="col-sm-6">
                        <h6>Diseño de software</h6>
                        {{ form.diseño_saberPro}}
                    </div>
                    
                    
                </div>
            </div>
        </div>
    </div>
    
    <button type="submit" class="btn btn-success ">Enviar</button>
    <a href="{% url 'lista_estudiantes' %}" class="btn btn-danger">Cancelar</a>
    
</form>
{% endblock content%}