{% extends "baseAdmin.html" %}
{% load static %}

{% block content %}
{% for p in estudiantes_list %}
<table class="table" id="datos{{ forloop.counter }}" style="display: none">
    <tr>
        <td id="ingles">{{p.ingles_saber11}}</td>
        <td id="lecto">{{p.lecturacritica_saber11}}</td>
        <td id="razo">{{p.razonamiento_saber11}}</td>
        <td id="comp">{{p.competencias_saber11}}</td>
    </tr>
    <tr>
        <td id="ingles">{{p.ingles_simulacro1}}</td>
        <td id="lectot">{{p.lecturacritica_simulacro1}}</td>
        <td id="razot">{{p.razonamiento_simulacro1}}</td>
        <td id="compt">{{p.competencias_simulacro1}}</td>
        <td id="escritot">{{p.escrito_simulacro1}}</td>
        <td id="form">{{p.formulacion_simulacro1}}</td>
        <td id="pen">{{p.cientifico_simulacro1}}</td>
        <td id="dis">{{p.diseño_simulacro1}}</td>
        
    </tr>
    <tr>
        <td id="inglesq">{{p.ingles_simulacro2}}</td>
        <td id="lectoq">{{p.lecturacritica_simulacro2}}</td>
        <td id="razoq">{{p.razonamiento_simulacro2}}</td>
        <td id="compq">{{p.competencias_simulacro2}}</td>
        <td id="escritoq">{{p.escrito_simulacro2}}</td>
        <td id="form">{{p.formulacion_simulacro2}}</td>
        <td id="pen">{{p.cientifico_simulacro2}}</td>
        <td id="dis">{{p.diseño_simulacro2}}</td>
    </tr>
    <tr>
        <td id="inglese">{{p.ingles_simulacro3}}</td>
        <td id="lectoe">{{p.lecturacritica_simulacro3}}</td>
        <td id="razoe">{{p.razonamiento_simulacro3}}</td>
        <td id="compe">{{p.competencias_simulacro3}}</td>
        <td id="escritoe">{{p.escrito_simulacro3}}</td>
        <td id="form">{{p.formulacion_simulacro3}}</td>
        <td id="pen">{{p.cientifico_simulacro3}}</td>
        <td id="dis">{{p.diseño_simulacro3}}</td>
    </tr>
    <tr>
        <td id="inglesp">{{p.ingles_saberPro}}</td>
        <td id="lectop">{{p.lecturacritica_saberPro}}</td>
        <td id="razop">{{p.razonamiento_saberPro}}</td>
        <td id="compp">{{p.competencias_saberPro}}</td>
        <td id="escritop">{{p.escrito_saberPro}}</td>
        <td id="form">{{p.formulacion_saberPro}}</td>
        <td id="pen">{{p.cientifico_saberPro}}</td>
        <td id="dis">{{p.diseño_saberPro}}</td>
    </tr>
</table>

{% endfor%}

<div class="container-fluid">
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Cantidad de estudiantes: <h1   id="cantidad"><strong>{{ numeroTotal }}</strong></h1>  </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
    {% for p in estudiantes_list %}
    
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Grafica de resultados del estudiante {{ p.nombres }} {{ p.apellidos }} {{ p.identificacion }}</h6>
        </div>
        <div class="card-body">
            
            <canvas id="canvas{{ forloop.counter }}" width="1000" height="500" class="chartjs-render-monitor" style="display: block; width: 1000px; height: 500px;"></canvas>
            
        </div>
    </div>
    {% endfor%}
</div>
{% endblock content%}