{% extends "baseAdmin.html" %}
{% load static %}

{% block content %}
<form  method="post">{% csrf_token %}
    <div class="col-md-12">
        <div class="card">
            <div class="card-content text-center">
                <h5>¿Esta seguro de eliminar el grupo {{ object.año }} ?</h5>
            
                <input type="submit" class='btn btn-danger btn-fill' value = "Eliminar" onclick="demo.showSwal('success-message')"  >
                <a class='btn btn-warning btn-fill' href="{% url 'lista_Grupos' %}">Cancelar</a>
            </div>
        </div>
    </div>
</form>
{% endblock content%}