{% extends "baseAdmin.html" %}
{% load static %}

{% block content %}

<form method="post" >{% csrf_token %}
    
    {% if form.errors %}
    
    <div class="col-xl-12 col-md-12 mb-2">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Existen errores en el formulario</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">{{form.errors}}</div>
                    </div>
                    
                    
                </div>
            </div>
        </div>
    </div>
    {% endif%}
    
    
    <div class="form-group row" >
        <div class="col-sm-12">
            <h6>Año del grupo de referencia</h6>
            {{ form.año}}
        </div>
         <div class="col-sm-12">
            <h6>Universidad del grupo de referencia</h6>
            {{ form.universidad}}
        </div>
    </div>
    
    
    
    
    
    
    <button type="submit" class="btn btn-success ">Enviar</button>
    <a href="{% url 'lista_Grupos' %}" class="btn btn-danger">Cancelar</a>
    
</form>

{% endblock content%}