{% extends "baseAdmin.html" %}
{% load static %}

{% block content %}

<!-- Page Heading -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Gestion de Grupos</h6>
    </div>
    <div class="card-body">
        <!-- Circle Buttons (Default) -->
        <a href="{% url 'Grupo_create' %}" class="btn btn-success btn-icon-split">
            <span class="icon text-white-50">
                <i class="fas fa-check"></i>
            </span>
            <span class="text">Crear Grupo de referencia</span>
        </a>
        
    </div>
</div>

<div class="row">
    {% for p in grupos  %}
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Grupo de referencia de: <strong>{{ p.universidad }}</strong> </div>
                        <a href="{% url 'estudiantesAgrupados' p.pk p.año %}">  <div class="h5 mb-0 font-weight-bold text-gray-800">AÑO: <strong>{{ p.año }}</strong></a> </div>
                        <h4 class="text-success">Codigo: {{ p.codigo }}</h4>
                    </div>
                    
                    <div class="col-auto">
                        <a href="{% url 'Grupo_editar' p.pk %}"><i class="fas fa-edit"></i></a>
                        <a href="{% url 'Grupo_borrar' p.pk %}"><i class="fas fa-trash-alt"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

<div class="row">
    <div class="card shadow mb-lg-2">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Filtre un grupo de referencia</h6>
            <br>
        </div>
        <div class="card-body">
            
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTableComparacion1" width="100%" cellspacing="1">
                    <thead>
                        <tr>
                            <th class="text-info">Codigo</th>
                            <th class="text-info">Año</th>
                            <th>Ingles</th>
                            <th>Lectura <br> Critica</th>
                            <th>R. <br>Cuantitativo</th>
                            <th>C. <br>Ciudadanas</th>
                            <th>Escrito</th>
                            <th>Formulacion <br> Proyectos</th>
                            <th>Pensamiento <br> Cientifico</th>
                            <th>Diseño <br> Software</th>
                            
                        </tr>
                    </thead>
                    
                    <tbody>
                        {% for p in grupos  %}
                        <tr>
                            <td class="text-info">{{ p.codigo }} - {{ p.universidad }}</td>
                            <td class="text-info">{{ p.año }}</td>
                            <td>{{ p.ingles }}</td>
                            <td>{{ p.lectura_critica }}</td>
                            <td>{{ p.razonamiento_cuantitativo }}</td>
                            <td>{{ p.competencias_ciudadanas }}</td>
                            <td>{{ p.escrito }}</td>
                            <td>{{ p.formulacion_proyectos }}</td>
                            <td>{{ p.pensamiento_cientifico }}</td>
                            <td>{{ p.diseño_software }}</td>
                            
                            
                        </tr>
                        
                        {% endfor %}
                        
                    </tbody>
                </table>
                
            </div>
            
        </div>
        
    </div>
    
    
    <div class="card shadow mb-lg-2">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Filtre un grupo de referencia</h6>
            <br>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTableComparacion2" width="100%" cellspacing="1">
                        <thead>
                            <tr>
                                <th class="text-info">Codigo</th>
                                
                                <th class="text-info">Año</th>
                                <th>Ingles</th>
                                <th>Lectura <br> Critica</th>
                                <th>R. <br>Cuantitativo</th>
                                <th>C. <br>Ciudadanas</th>
                                <th>Escrito</th>
                                <th>Formulacion <br> Proyectos</th>
                                <th>Pensamiento <br> Cientifico</th>
                                <th>Diseño <br> Software</th>
                                
                            </tr>
                        </thead>
                        
                        <tbody>
                            {% for p in grupos  %}
                            <tr>
                                <td class="text-info">{{ p.codigo }} - {{ p.universidad }}</td>
                                
                                <td class="text-info">{{ p.año }}</td>
                                
                                <td>{{ p.ingles }}</td>
                                <td>{{ p.lectura_critica }}</td>
                                <td>{{ p.razonamiento_cuantitativo }}</td>
                                <td>{{ p.competencias_ciudadanas }}</td>
                                <td>{{ p.escrito }}</td>
                                <td>{{ p.formulacion_proyectos }}</td>
                                <td>{{ p.pensamiento_cientifico }}</td>
                                <td>{{ p.diseño_software }}</td>
                                
                                
                            </tr>
                            
                            {% endfor %}
                            
                        </tbody>
                    </table>
                    
                </div>
                
            </div>
            
        </div>
    </div>
</div>

{% endblock content %}
