{% extends "baseAdmin.html" %}
{% load static %}

{% block content %}

<form method="post" >{% csrf_token %}
    
    {% if form.errors %}
    
    <div class="col-xl-12 col-md-12 mb-2">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Existen errores en el formulario</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">{{form.errors}}</div>
                    </div>
                    
                    
                </div>
            </div>
        </div>
    </div>
    {% endif%}
    
    
    <div class="form-group row" >
        <div class="col-sm-12">
            <h6>Codigo del grupo | <small class="text-danger">El codigo debe ser mayor a 300</small>
            </h6>
            {{ form.codigo}}
        </div>
        <div class="col-sm-12">
            <h6>Año del grupo de referencia</h6>
            {{ form.año}}
        </div>
        <div class="col-sm-12">
            <h6>Universidad del grupo de referencia</h6>
            {{ form.universidad}}
        </div>
        
    </div>
    
    
    <div class="card shadow mb-4">
        <!-- Card Header - Accordion -->
        <a href="#sp" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample">
            <h6 class="m-0 font-weight-bold text-primary">Puntajes generales del grupo de referencia</h6>
        </a>
        <!-- Card Content - Collapse -->
        <div class="collapse" id="sp">
            <div class="card-body">
                <div class="form-group row" >
                    <div class="col-sm-6">
                        <h6>Ingles</h6>
                        {{ form.ingles}}
                    </div>
                    <div class="col-sm-6">
                        <h6>Lectura Critica</h6>
                        {{ form.lectura_critica}}
                    </div>
                    <div class="col-sm-6">
                        <h6>Razonamiento cuantitativo</h6>
                        {{ form.razonamiento_cuantitativo}}
                    </div>
                    <div class="col-sm-6">
                        <h6>Competencias ciudadanas</h6>
                        {{ form.competencias_ciudadanas}}
                    </div>
                    <div class="col-sm-6">
                        <h6>Comunicacion escrita</h6>
                        {{ form.escrito}}
                    </div>
                    <div class="col-sm-6">
                        <h6>Formulacion de proyectos</h6>
                        {{ form.formulacion_proyectos}}
                    </div>
                    <div class="col-sm-6">
                        <h6>Pensamiento cientifico</h6>
                        {{ form.pensamiento_cientifico}}
                    </div>
                    <div class="col-sm-6">
                        <h6>Diseño de software</h6>
                        {{ form.diseño_software}}
                    </div>
                    
                    
                </div>
            </div>
        </div>
    </div>
    
    
    
    <button type="submit" class="btn btn-success ">Enviar</button>
    <a href="{% url 'lista_Grupos' %}" class="btn btn-danger">Cancelar</a>
    
</form>

{% endblock content%}