{% extends "baseAdmin.html" %}
{% load static %}

{% block content %}

<!-- Page Heading -->
<div class="card shadow mb-5">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Lista de estudiantes</h6>
        <br>
        <a href="{% url 'estudiante_create' %}" class="btn btn-success " >Agregar estudiante</a>
        <a href="{% url 'graficas' %}" class="btn btn-info "><i class="fas fa-chart-line"></i> | Graficas individuales</a> 

    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="1">
                <thead>
                    <tr>
                        <th>Identificacion</th>
                        <th>Nombres</th>
                        <th>Apellidos</th>
                        
                        
                        <th>Acciones</th>
                    </tr>
                </thead>
           
                <tbody>
                    {% for p in estudiantes_list  %}
                    <tr>
                        <td>{{ p.identificacion }}</td>
                        <td>{{ p.nombres }}</td>
                        <td>{{ p.apellidos }}</td>
                   
                        
                        <td>
                            
                            <a href="{% url 'estudiante_editar' p.pk %}" class="btn btn-success btn-circle"><i class="fas fa-user-edit"></i></i></a>
                            <a href="{% url 'estudiante_borrar' p.pk %}" class="btn btn-danger btn-circle"><i class="fas fa-user-times"></i></a>
                        </td>
                    </tr>
                    
                    {% endfor %}
                    
                </tbody>
            </table>
        </div>
    </div>
</div>





{% endblock content%}